* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: #1522ae;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #473ee1;
    border-radius: 5px;
}

.content {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre os patrocinadores */
    padding: 20px;
}

.esquerda {
    border: 1px solid #ccc; /* Apenas para visualização */
    padding: 15px;
    background-color: #ed323875;
    border-radius: 10px;
}

.direita {
    border: 1px solid #ccc; /* Apenas para visualização */
    padding: 15px;
    background-color: #1c70ed66;
    border-radius: 10px;
}

.video {
    text-align: center;
}

h2{

    text-align: center;
}
.video {

    padding: 20px;

}
